body {
  padding: 0;
}

.container {
  flex-direction: column;
  padding-left: 2vw;
}

h1 {
  font-size: 8vw;
  font-family: "Playfair Display SC", serif;
  padding-left: 4vw;
  margin-top: 4vh;
}

h2 {
  font-size: 3.5vw;
  margin-top: 0;
}

.divisions {
  gap: 4vw;
  padding-left: 4vw;
  padding-right: 4vw;
  margin-top: 4vh;
}

.title {
  gap: 5vw;
  padding-bottom: 2vw;
}

a {
  text-decoration: none;
  color: black;
  font-size: 2.5vw;
  padding: 0.5vw;
}

a:hover,
.submit:hover {
  background-color: lightgrey;
  border: solid black 2px;
}

form {
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  min-height: 30vw;
  max-height: 50vh;
}

.score-sheet {
  font-size: 5vw;
}

.add-score {
  height: 100%;
  background-color: lightgrey;
}

.high-list {
  justify-content: center;
  align-items: center;
  padding-inline-start: 0;
  list-style: none;
}

.high-list > li {
  padding: 1vw;
  font-size: 2.5vw;
  font-family: "Special Elite", cursive;
  padding-left: 2vw;
}

.high-list > li:nth-child(2n + 1) {
  background-color: lightgrey;
}

.name {
  height: 5vw;
  padding-left: 1vw;
  font-size: 2vw;
}

.submit {
  padding: 0.7vw;
  align-self: flex-end;
  font-size: 3vw;
  background-color: white;
}

.d-flex {
  display: flex;
}

.border-grey {
  border: groove darkgray 2px;
}

.pointer {
  cursor: pointer;
}

.border-black {
  border: groove black 2px;
}

.special-elite {
  font-family: "Special Elite", cursive;
}

.width-40vw {
  width: 40vw;
}

.oleo-font {
  font-family: "Oleo Script Swash Caps", cursive;
}

.m-0 {
  margin: 0;
}

.m-bottom0 {
  margin-bottom: 0;
}

.padding-2vw {
  padding: 2vw;
}
